body{background-color:#F5F5DC;}

.container{width:1200px;margin-left:auto;margin-right:auto;}

#pluton{width:1200px;margin-left:auto;margin-right:auto;color:black;background-color:red;text-align:center;border-radius:20px; }

#neptuno{width:390px;height:270px;margin-left:auto;margin-right:auto;float:left;padding:5px; }

#urano{width:390px;height:270px;margin-left:auto;margin-right:auto;float:right;padding:5px;}

#footer{float:left;width:1200px;background-color:red;border-radius:20px;font-weight:bold;}

.zodiacoleft{width:390px;height:270px;float:left;padding:5px;}

.zodiacoleft h4{text-align:center;}

.zodiacoleft h4 a{color:gray;}

.zodiacoleft h4 a:hover{color:black;font-size:larger;}



.zodiacoright{width:390px;height:270px;float:right;padding:5px;}

.zodiacoright h4{text-align:center;}

.zodiacoright h4 a{color:gray;}

.zodiacoright h4 a:hover{color:black;font-size:larger;}

.planetas{width:390px;height:270px;float:right;overflow:hidden;font-family:arial,verdana,sans-serif;font-size:small;padding:5px;}

.planetas h1{text-align:center;}

.planetas h1 a{color:black;}

.planetas h1 a:hover{color:purple;font-size:larger;}

.planetas h2{text-align:center;}

.planetas h2 a{color:black}

.planetas h2 a:hover{color:blue;font-size:larger;}

.planetas h3{text-align:center;}

.planetas h3 a{color:black}

.planetas h3 a:hover{color:cyan;font-size:larger;}

.planetas h4{text-align:center;}

.planetas h4 a{color:black}

.planetas h4 a:hover{color:green;font-size:larger;}

.planetas h5{text-align:center;}

.planetas h5 a{color:black}

.planetas h5 a:hover{color:yellow;font-size:larger;}

.planetas h6{text-align:center;}

.planetas h6 a{color:black}

.planetas h6 a:hover{color:orange;font-size:larger;}

#saturno{width:390px;height:270px;float:right;overflow:hidden;font-family:arial,verdana,sans-serif;font-size:small;padding:5px;}

#saturno p{text-align:center;}

#saturno p a{color:black}

#saturno p a:hover{color:red;font-size:larger;}

#date{color:purple;font:22px normal verdana,helvetica,sans-serif;font-weight:bold;position:relative;left:5px;top:15px;}

#clock{color:purple;font:22px normal verdana,helvetica,sans-serif;font-weight:bold;position:relative;left:200px;top:230px;}

#signo{color:blue;font-style: italic;font-family:Courier New,Lucida Console;font-weight:bold;font-size:larger;position:relative;left:90px;top:60px;}